# Env files
.env
.env.*
.env.*.local
.env.development

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Cache
.vite/
*.local

# Editor
.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*

# Scratch
.scratch/regportal-v1/samples
.playwright-mcp/*
